/* CSS Document */

body{
	margin: 0;
	padding: 0;
	margin-top: 0;
	padding-top: 0;
	background-color: #E6E6E6;
	padding-top: 175px;
	
}
header{
	width: 95%;
	height: 130px;
	background-color:green;
	padding-left: 5%;
	padding-top: 20px;
	position: fixed;
	top:0;
	
}
header h1{
	color: whitesmoke;
	
}
#portada{
	float: left;
	border:solid;
	border-color: greenyellow;
}
#portada2{
	padding-left: 250px;
	float:auto;
	border:solid;
	border-color: greenyellow;
	background-color: black;
}
nav{
	
	width: 83%;
	height: 45px;
	background-color: black;
	text-align: center;
	padding-left: 17%; 
	position: fixed;
	top: 130px;
	
}
nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
	
	float: left;
	
}
nav ul li a{
	 display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
}

nav a:visited {
    color: white;
}
nav a:hover{
	background-color: #009403;
	color: black;
}

aside{
	width: 17%;
	height: 1000px;
	float: left;
	background-color: black;
	color:white;
	position: fixed;
	top: 130px;
	font-variant: small-caps;
}
aside ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
}
aside li{
	list-style: none;
	display: block;
	background-color: #E6E6E6;
	
}
aside li a{
	display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
aside li:hover{
	background-color: #009403;
    color: white;
}


section{
	width: 60%;
	height: auto;
	padding-right: 15%;
	padding-left: 25%;
	text-align: center;
	float: auto;
	background-color: #E6E6E6;
	
	

	float: auto;
	
	
}

section article{
	
	
	
}
.list-group{
	list-style: none;
}
section figure{
	
}
footer{
	width: 97%;
	height: 150px;
	background-color: black;
	color:white;
	padding-left: 3%;
	padding-top: 50px;
	
	
}
input[type=text] {
    width: 40%;
	height: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}
h3{
	font-variant: small-caps;
}
article{
	display: block;
	background-color: #A3F9C0;
	
	color: black;
	
}